
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: white;
}

.caixa-rolagem{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.navbar-container {
  width: 100%;                    
  background-color: #12531a;      
  position: fixed;            
  top: 0;                       
  z-index: 1000;                 
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
}

.navbar-items {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    gap: 30px;
    align-items: center;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 25px 25px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
.logo{
    width: 8vw;
    height: auto;
    mix-blend-mode: screen;

}

h2{
    color: white;
    padding: 0px 50px 0px 0px ;
    margin: 0;
    font-size: 3vw;
}


.home-button{
    background-color: #28a745;
    color: white; 
    text-decoration: none; 
    padding: 15px 25px; 
    display: inline-block; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    opacity: 70%;
}

.home-button:hover{
    background-color: #1e7e34;
}

footer {
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #12531a; 
    color: white;        
    padding: 15px 0;     
    text-align: center;   
    z-index: 1000;
    position: fixed;
}


:root {
    --light-green: rgb(224, 255, 224);
    --text-color: #333;
    --border-color: #ccc;
    --publish-blue: rgb(55, 137, 206);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.content-area {
    background-color: var(--light-green);
    padding: 30px 50px;
    min-height: 80vh; 
    padding: 13vw;
}


.event-form-container h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold; 
    margin-right: 5px; 
}

.form-group label, 
.form-group input[type="text"] {
    display: inline-block; 
}

.form-group input[type="text"] {
    padding: 5px;
    border: 1px solid var(--border-color);
    width: 300px; 
}


.inline-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date-input {
    width: 40px !important; 
    text-align: center;
}

.date-input:last-child {
    width: 60px !important; 
}

.time-input {
    width: 30px !important; 
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
}


.description-area {
    margin-top: 20px;
}

.description-area textarea {
    width: 100%;
    height: 150px;
    border: 1px solid var(--border-color);
    background-color: #f0f0f0; 
    resize: vertical;
    padding: 10px;
    margin-top: 5px; 
}


.publish-container {
    text-align: right; 
    margin-top: 15px;
}


.publish-btn{
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 15px 25px;    
    display: inline-block;
    border-radius: 4px;
    cursor: pointer; 
}

