*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: white;
}

.caixa-rolagem{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.navbar-container {
  width: 100%;                    
  background-color: #1a6b24;      
  position: fixed;            
  top: 0;                       
  z-index: 500;                 
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
}

.navbar-items {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    gap: 30px;
    align-items: center;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 25px 25px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
.logo{
    width: 8vw;
    height: auto;
    mix-blend-mode: screen;

}

h2{
    color: white;
    padding: 0px 50px 0px 0px ;
    margin: 0;
    font-size: 3vw;
}


.home-button{
    background-color: #28a745;
    color: white; 
    text-decoration: none; 
    padding: 15px 25px; 
    display: inline-block; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    opacity: 70%;
}

.home-button:hover{
    background-color: #1e7e34;
}

.eventos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 10px;
}

/* ===== CARD DE EVENTO ===== */
.evento-card {
    background: #fff;
    border-radius: 16px;
    padding: 160px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.evento-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.evento-img {
    width: 150%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 40px;
    object-fit: cover;

}

.evento-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #0f6e44;
}

.evento-data {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #365e4b;
}

.evento-local {
    font-size: 0.9rem;
    margin-bottom: 12px;
    opacity: 0.8;
}

.evento-botao {
    display: inline-block;
    padding: 10px 16px;
    background: #0f6e44;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.evento-botao:hover {
    background: #128f5a;
}

/* ===== FOOTER ===== */
footer {
    background: #0f6e44;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}
