* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eaffea;
}

.container {
    width: 100%;
}


.navbar-container {
    width: 100%;
    background-color: #12531a;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 8vw;
    mix-blend-mode: screen;
}

h2 {
    color: white;
    font-size: 2.5vw;
}

.navbar-items {
    list-style: none;
}

.home-button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.home-button:hover {
    background-color: #1e7e34;
}


main {
    padding-top: 180px;
    padding-bottom: 80px;
}


.eventos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.evento-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    display: flex;
    gap: 20px;
    align-items: flex-start;
}



.evento-card h3 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: #0f3d1a;
}


.evento-card p {
    font-size: 1rem;
    margin: 3px 0;
}


.evento-card .descricao {
    margin-top: 10px;
    color: #444;
}



.btn-excluir {
    padding: 8px 12px;
    border: none;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}



.btn-excluir {
    background-color: #e63946;
    color: white;
}

.btn-excluir:hover {
    background-color: #b01f26;
}


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #12531a;
    color: white;
    text-align: center;
    padding: 12px 0;
}
