*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: white;
}

.caixa-rolagem{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.navbar-container {
  width: 100%;                    
  background-color: #12531a;      
  position: fixed;            
  top: 0;                       
  z-index: 1000;                 
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
}

.navbar-items {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    gap: 30px;
    align-items: center;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 25px 25px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
.logo{
    width: 8vw;
    height: auto;
    mix-blend-mode: screen;

}

h2{
    color: white;
    padding: 0px 50px 0px 0px ;
    margin: 0;
    font-size: 3vw;
}


.home-button{
    background-color: #28a745;
    color: white; 
    text-decoration: none; 
    padding: 15px 25px; 
    display: inline-block; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    opacity: 70%;
}

.home-button:hover{
    background-color: #1e7e34;
}



.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    width: 350px;
    max-width: 90%;
    margin-top: 50px; 
    margin-bottom: 50px;
    align-items: center;
    margin: 0 auto;
    margin-top: 20vw ;
}

.login-box h3 {
    text-align: center;
    color: #00796b;
    margin-top: 0;
    margin-bottom: 25px;
}


.login-box div {
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


.submit-btn {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #1e7e34;
}
footer {
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #12531a; 
    color: white;      
    padding: 15px 0;    
    text-align: center;  
    z-index: 1000;
    position: fixed;
}

@media (max-width: 600px) {
    
    .login-box {
        padding: 100px; 
        margin-top: 60px; 
        width: 100%; 
    }

   
    .login-box h3 {
        font-size: 1.5em;
        margin-bottom: 25px;
    }

 
    .submit-btn {
        padding: 10px;
        font-size: 1em;
    }

    .home-button{
        padding: 13px;
}
    h2{
        font-size: 5vw;
        padding: 20px ;
    }
}