*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: #fff;
}

.navbar-container {
  width: 100%; 
  height: 175px;                   
  background-color: #12531a;      
  position: fixed;                
  top: 0;                         
  z-index: 1000;                 
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
  
}

.navbar-items {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    gap: 30px;
    align-items: center;
}


.navbar-items li {
    margin-left: 0; 
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 25px 25px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.logo-button{
    width: 8vw;
    height: auto;
    mix-blend-mode: screen;
}

h2{
    color: white;
    padding: 0px 50px 0px 0px ;
    margin: 0;
    font-size: 3vw;
}

.admin-button,
.contatos-button,
.eventos-button {
    background-color: #2d2f26;
    color: white; 
    text-decoration: none; 
    padding: 15px 25px; 
    display: inline-block; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    opacity: 70%;
}

.admin-button:hover,
.contatos-button:hover,
.eventos-button:hover {
    background-color: #1e7e34; 
}

.login-button{
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 15px 25px;    
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.login-button:hover{
    background-color: #1e7e34;
}



footer {
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #12531a; 
    color: white;         
    padding: 15px 0;     
    text-align: center;  
    z-index: 1000;
}


.slider-box {
    background: #c8e6c9; 
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 300px;
    margin-bottom: 200px;
    min-height: 400px;
    
}

.slider-box .content {
    text-align: center;
}

.slider-box img {
    width: 80%;
    max-height: 260px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.slider-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.slider-box p {
    font-size: 16px;
    line-height: 1.5;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    opacity: 0.8;
}

.arrow:hover {
    opacity: 1;
}

.left {
    left: -20px;
}

.right {
    right: -20px;
}

#parkTitle{
    color: #12531a;
}

